<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <img src="/assets/pickcell-logo-icon-white.png" style="width: 36px;">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>{{message?.created_at}}</ion-card-subtitle>
            <ion-card-title>{{message?.config.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{message?.config.message}}
        </ion-card-content>
    </ion-card>
</ion-content>
